<form class="{{cssClass}} limited flexcol" autocomplete="off">

    <!-- HEADER -->
    <header class="sheet-header">
        <div class="image-container">
            <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" height="180" width="180"/>
            <a class="hover-icon" data-action="show-image"><i class="fas fa-image fa-fw"></i></a>
        </div>
        <div class="header-background flexcol">
            <div class="header-text flexcol">
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" data-tippy-content="<strong>{{localize "SFRPG.CharacterNamePlaceHolderText"}}</strong>" placeholder="{{localize "SFRPG.CharacterNamePlaceHolderText"}}" />
                </h1>
                <span class="species-grafts">{{system.details.raceAndGrafts}}</span>
            </div>
        </div>
    </header>

    <!-- BODY -->
    <section class="sheet-body">
        <div class="tab biography">
            {{editor
                enrichedDescription
                target="system.details.notes"
                button=true
                editable=editable
                engine="prosemirror"
                collaborate="true"
            }}
        </div>
    </section>

    <!-- SIDEBAR -->
    <section class="sheet-sidebar">

    </section>
</form>