<form class="{{cssClass}}" id="add-edit-skill-form" autocomplete="off">
    <div class="form-group">
        <label>{{localize "SFRPG.ModifierTypeAbility"}}</label>
        <div class="form-fields">
            <select name="ability">
                {{selectOptions config.abilities selected=skill.ability}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "SFRPG.SkillsHeaderRanks"}}</label>
        <div class="form-fields">
            <input type="number" name="ranks" value="{{skill.ranks}}" data-dtype="Number" placeholder="0" />
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "SFRPG.SkillMiscModifiersLabel"}}</label>
        <div class="form-fields">
            <input type="number" name="misc" value="{{skill.misc}}" data-dtype="Number" placeholder="0" />
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "SFRPG.SkillNotes"}}</label>
        <div class="form-fields">
            <textarea type="text" name="notes" value="{{skill.notes}}" data-dtype="text">{{skill.notes}}</textarea>
        </div>
    </div>
    {{#if hasSubName}}
    <div class="form-group">
        <label>{{localize "SFRPG.SkillProfessionName"}}</label>
        <div class="form-fields">
            <input type="text" name="subname" value="{{skill.subname}}" placeholder="-" />
        </div>
    </div>
    {{/if}}
    <div class="form-group stacked">
        <label>Skill Properties</label>
        <label class="checkbox">
            <input type="checkbox" name="value" {{checked skill.value}}/> {{localize "SFRPG.SkillProficiencyLevelClassSkill"}}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="isTrainedOnly" {{checked skill.isTrainedOnly}}/> {{localize "SFRPG.SkillTrainedOnly"}}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="hasArmorCheckPenalty" {{checked skill.hasArmorCheckPenalty}}/> {{localize "SFRPG.ArmorCheckPenalty"}}
        </label>
        {{#if isNpc}}
        <label class="checkbox">
            <input type="checkbox" name="enabled" {{checked skill.enabled}}/> {{localize "SFRPG.ModifierEnabledLabel"}}
        </label>
        {{/if}}
        {{#if canDelete}}
        <label class="checkbox">
            <input type="checkbox" name="remove" /> {{localize "SFRPG.SkillDelete"}}
        </label>
        {{/if}}
    </div>
</form>
