<form id="choice-dialog-form" class="form-rest">
    <p>{{message}}</p>
    {{#each choices as |choice id|}}
    <div class="form-group">
        <label>{{capitalize choice.name}}{{#if choice.label}}: {{choice.label}}{{/if}}</label>
        <div class="form-fields">
            <select id="{{id}}">
                {{#select choice.default}}
                {{#each choice.options as |choice|}}
                    <option value="{{choice}}">{{localize choice}}</option>
                {{/each}}
                {{/select}}
            </select>    
        </div>
    </div>
    {{/each}}
</form>
