<form autocomplete="off" class="{{cssClass}}" data-modifier-id="{{modifier._id}}">
    <div class="form-group modifier-name">
        <label for="name">{{localize "SFRPG.ModifierNameLabel"}}</label>
        <input name="name" type="text" value="{{modifier.name}}" data-tooltip="{{localize "SFRPG.ModifierNameTooltip"}}">
    </div>
    <div class="form-group modifier-modifier">
        <label for="modifier">{{localize "SFRPG.ModifierModifierLabel"}}</label>
        <input type="text" name="modifier" value="{{modifier.modifier}}" data-tooltip="{{localize "SFRPG.ModifierModifierTooltip"}}">
    </div>
    <div class="form-group modifier-type">
        <label for="type">{{localize "SFRPG.ModifierTypeLabel"}}</label>
        <select name="type" data-tooltip="{{localize "SFRPG.ModifierTypeTooltip"}}">
            {{selectOptions config.modifierTypes selected=modifier.type}}
        </select>
    </div>
    <div class="form-group modifier-effect-type">
        <label for="effectType">{{localize "SFRPG.ModifierEffectTypeLabel"}}</label>
        <select name="effectType" data-tooltip="{{localize "SFRPG.ModifierEffectTypeTooltip"}}">
            {{selectOptions config.modifierEffectTypes selected=modifier.effectType}}
        </select>
    </div>
    <div class="form-group modifier-value-affected">
        <label for="valueAffected">{{localize "SFRPG.ModifierValueAffectedLabel"}}</label>
        {{#if (eq modifier.effectType "actor-resource")}}
            <input type="text" name="valueAffected" value="{{modifier.valueAffected}}" data-tooltip="{{localize "SFRPG.ModifierValueAffectedTooltip"}}">
        {{else}}
            <select name="valueAffected" data-tooltip="{{localize "SFRPG.ModifierValueAffectedTooltip"}}">
                {{#if (eq modifier.effectType "ac")}}
                    {{selectOptions config.modifierArmorClassAffectedValues selected=modifier.valueAffected}}
                {{else if (eq modifier.effectType "ability-skills")}}
                    {{selectOptions config.abilities selected=modifier.valueAffected}}
                {{else if (eq modifier.effectType "acp")}}
                    {{selectOptions config.acpEffectingArmorType selected=modifier.valueAffected}}
                {{else if (eq modifier.effectType "save")}}
                    {{selectOption "highest" "SFRPG.ModifierSaveHighest" selected=modifier.valueAffected localize=true}}
                    {{selectOption "lowest" "SFRPG.ModifierSaveLowest" selected=modifier.valueAffected localize=true}}
                    {{selectOptions config.saves selected=modifier.valueAffected}}
                {{else if (eq modifier.effectType "skill")}}
                    {{selectOption "" "-" selected=modifier.valueAffected}}
                    {{selectOptions config.skills selected=modifier.valueAffected}}
                {{else if (eq modifier.effectType "skill-ranks")}}
                    {{selectOptions config.skills selected=modifier.valueAffected}}
                {{else if (eq modifier.effectType "ability-check")}}
                    {{selectOptions config.abilities selected=modifier.valueAffected}}
                {{else if (eq modifier.effectType "ability-score")}}
                    {{selectOptions config.abilities selected=modifier.valueAffected}}
                {{else if (eq modifier.effectType "weapon-attacks")}}
                    {{selectOptions config.weaponTypes selected=modifier.valueAffected}}
                {{else if (eq modifier.effectType "weapon-property-attacks")}}
                    {{selectOptions config.weaponProperties selected=modifier.valueAffected}}
                {{else if (eq modifier.effectType "weapon-category-attacks")}}
                    {{selectOptions config.weaponCategories selected=modifier.valueAffected}}
                {{else if (eq modifier.effectType "weapon-damage")}}
                    {{selectOptions config.weaponTypes selected=modifier.valueAffected}}
                {{else if (eq modifier.effectType "weapon-property-damage")}}
                    {{selectOptions config.weaponProperties selected=modifier.valueAffected}}
                {{else if (eq modifier.effectType "weapon-category-damage")}}
                    {{selectOptions config.weaponCategories selected=modifier.valueAffected}}
                {{else if (eq modifier.effectType "specific-speed")}}
                    {{selectOptions config.speeds selected=modifier.valueAffected}}
                {{else if (eq modifier.effectType "damage-reduction")}}
                    {{selectOptions config.damageReductionTypes selected=modifier.valueAffected}}
                {{else if (eq modifier.effectType "energy-resistance")}}
                    {{selectOptions config.energyResistanceTypes selected=modifier.valueAffected}}
                {{else}}
                    <option value=""></option>
                {{/if}}
            </select>
        {{/if}}
    </div>
    <fieldset class="form-group modifier-limit-to" disabled=true>
        <label for="limitTo">{{localize "SFRPG.ModifierLimitToLabel"}}</label>
        <select name="limitTo" data-tooltip="{{localize "SFRPG.ModifierLimitToTooltip"}}">
            {{selectOption ""          "SFRPG.None"                     selected=modifier.limitTo localize=true}}
            {{selectOption "parent"    "SFRPG.ModifierLimitToParent"    selected=modifier.limitTo localize=true}}
            {{selectOption "container" "SFRPG.ModifierLimitToContainer" selected=modifier.limitTo localize=true}}
        </select>
    </fieldset>
    <div class="form-group modifier-modifier-type">
        <label for="modifierType">{{localize "SFRPG.ModifierModifierTypeLabel"}}</label>
        <select name="modifierType" data-tooltip="{{localize "SFRPG.ModifierModifierTypeTooltip"}}">
            {{selectOptions config.modifierType selected=modifier.modifierType}}
            {{selectOption "damageSection" (localize "SFRPG.Items.Action.DamageSection" section='') selected=modifier.modifierType hidden=true}}
        </select>
    </div>
    <fieldset class="damage-section-details" disabled=true>
        <div class="damage-part-formula form-group">
            <label>{{ localize "SFRPG.Damage.Types.DamageGroup" group=""}}</label>
            <input type="number" name="damage.damageGroup" value="{{modifier.damage.damageGroup}}" data-dtype="Number" data-tooltip="
                <strong>{{ localize 'SFRPG.Damage.Types.DamageGroup' group=''}}</strong>
                <br>
                <p>{{ localize 'SFRPG.Damage.Types.DamageGroupTooltip'}}</p>" />
        </div>
        <div class="damage-part-type form-group stacked">
            <div class="form-group form-group-stacked">
                <label>{{localize "SFRPG.Damage.EnergyDamage"}}</label>
                {{#each config.energyDamageTypes as |name type|}}
                    <label class="checkbox">
                        <input type="checkbox" name="damage.damageTypes.{{type}}" {{checked (lookup ../modifier.damage.damageTypes
                            type)}} />{{name}}
                    </label>
                {{/each}}
            </div>
            <div class="form-group form-group-stacked">
                <label>{{localize "SFRPG.Damage.KineticDamage"}}</label>
                {{#each config.kineticDamageTypes as |name type|}}
                    <label class="checkbox">
                        <input type="checkbox" name="damage.damageTypes.{{type}}" {{checked (lookup ../modifier.damage.damageTypes
                            type)}} />{{name}}
                    </label>
                {{/each}}
            </div>
            <div class="form-group form-group-stacked">
                <label>{{localize "SFRPG.HealingTypesHealing"}}</label>
                <label class="checkbox">
                    <input type="checkbox" name="damage.damageTypes.healing" {{checked (lookup
                        modifier.damage.damageTypes "healing" )}} />{{localize "SFRPG.HealingTypesHealing"}}
                </label>
            </div>
        </div>
    </fieldset>
    <div class="form-group modifier-source">
        <label for="source">{{localize "SFRPG.ModifierSourceLabel"}}</label>
        <input type="text" name="source" value="{{modifier.source}}" data-tooltip="{{localize "SFRPG.ModifierSourceTooltip"}}">
    </div>
    <div class="form-group modifier-notes">
        <label for="notes">{{localize "SFRPG.ModifierNotesLabel"}}</label>
        <textarea name="notes" data-tooltip="{{localize "SFRPG.ModifierNotesTooltip"}}">{{modifier.notes}}</textarea>
    </div>
    <div class="form-group modifier-enabled" data-tooltip="{{localize "SFRPG.ModifierEnabledTooltip"}}">
        <label class="checkbox">
            <input type="checkbox" name="enabled" {{checked modifier.enabled}}> {{localize "SFRPG.ModifierEnabledLabel"}}
        </label>
    </div>
    <input type="hidden" name="_id" value="{{modifier._id}}">
    <input type="hidden" name="subtab" value="{{modifier.subtab}}">
    <button type="submit" id="btn-submit"><i class="far fa-save"></i>{{localize "Save Changes"}}</button>
</form>
