<form autocomplete="off">
    <p class="notes">{{ localize "SFRPG.ActorSheet.Attributes.Speed.MovementSpeedTitle" }}</p>
    <div class="form-group">
        <label>{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Land" }}</label>
        <div class="form-fields">
            <input name="system.attributes.speed.land.base" type="number" step="0.1" value="{{system.attributes.speed.land.base}}"/>
        </div>
    </div>
    <div class="form-group">
        <label>{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Burrowing" }}</label>
        <div class="form-fields">
            <input name="system.attributes.speed.burrowing.base" type="number" step="0.1" value="{{system.attributes.speed.burrowing.base}}"/>
        </div>
    </div>
    <div class="form-group">
        <label>{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Climbing" }}</label>
        <div class="form-fields">
            <input name="system.attributes.speed.climbing.base" type="number" step="0.1" value="{{system.attributes.speed.climbing.base}}"/>
        </div>
    </div>
    <div class="form-group">
        <label>{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Flying" }}</label>
        <div class="form-fields">
            <input name="system.attributes.speed.flying.base" type="number" step="0.1" value="{{system.attributes.speed.flying.base}}"/>
            <select name="system.attributes.speed.flying.baseManeuverability">
                {{#select system.attributes.speed.flying.baseManeuverability}}
                <option value="-1">{{ localize "SFRPG.ActorSheet.Attributes.Speed.Flight.Clumsy" }}</option>
                <option value="0">{{ localize "SFRPG.ActorSheet.Attributes.Speed.Flight.Average" }}</option>
                <option value="1">{{ localize "SFRPG.ActorSheet.Attributes.Speed.Flight.Perfect" }}</option>
                {{/select}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Swimming" }}</label>
        <div class="form-fields">
            <input name="system.attributes.speed.swimming.base" type="number" step="0.1" value="{{system.attributes.speed.swimming.base}}"/>
        </div>
    </div>
    <div class="form-group">
        <label>{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Special" }}</label>
        <div class="form-fields">
            <input type="text" class="speed" name="system.attributes.speed.special" value="{{system.attributes.speed.special}}" placeholder="{{ localize 'SFRPG.SpeedSpecial' }}" />
        </div>
    </div>
    <div class="form-group">
        <label>{{ localize "SFRPG.ActorSheet.Attributes.Speed.MainMovementType" }}</label>
        <div class="form-fields">
            <select name="system.attributes.speed.mainMovement">
                {{#select system.attributes.speed.mainMovement}}
                <option value="land">{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Land" }}</option>
                <option value="burrowing">{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Burrowing" }}</option>
                <option value="climbing">{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Climbing" }}</option>
                <option value="flying">{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Flying" }}</option>
                <option value="swimming">{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Swimming" }}</option>
                <option value="special">{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Special" }}</option>
                {{/select}}
            </select>
        </div>
    </div>
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "Submit"}}</button>
</form>
