<form autocomplete="off">
    <p class="notes">{{ localize "SFRPG.ActorSheet.Attributes.Speed.MovementSpeedTitle" }}</p>
    <div class="form-group">
        <label>{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Land" }}</label>
        <div class="form-fields">
            <input name="system.attributes.speed.land.base" type="number" step="0.1" value="{{system.attributes.speed.land.base}}"/>
        </div>
    </div>
    <div class="form-group">
        <label>{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Burrowing" }}</label>
        <div class="form-fields">
            <input name="system.attributes.speed.burrowing.base" type="number" step="0.1" value="{{system.attributes.speed.burrowing.base}}"/>
        </div>
    </div>
    <div class="form-group">
        <label>{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Climbing" }}</label>
        <div class="form-fields">
            <input name="system.attributes.speed.climbing.base" type="number" step="0.1" value="{{system.attributes.speed.climbing.base}}"/>
        </div>
    </div>
    <div class="form-group">
        <label>{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Flying" }}</label>
        <div class="form-fields">
            <input name="system.attributes.speed.flying.base" type="number" step="0.1" value="{{system.attributes.speed.flying.base}}"/>
            <select name="system.attributes.speed.flying.baseManeuverability">
                {{selectOptions (config "flightManeuverability") selected=system.attributes.speed.flying.baseManeuverability}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Swimming" }}</label>
        <div class="form-fields">
            <input name="system.attributes.speed.swimming.base" type="number" step="0.1" value="{{system.attributes.speed.swimming.base}}"/>
        </div>
    </div>
    <div class="form-group">
        <label>{{ localize "SFRPG.ActorSheet.Attributes.Speed.Types.Special" }}</label>
        <div class="form-fields">
            <input type="text" class="speed" name="system.attributes.speed.special" value="{{system.attributes.speed.special}}" placeholder="{{ localize 'SFRPG.SpeedSpecial' }}" />
        </div>
    </div>
    <div class="form-group">
        <label>{{ localize "SFRPG.ActorSheet.Attributes.Speed.MainMovementType" }}</label>
        <div class="form-fields">
            <select name="system.attributes.speed.mainMovement">
                {{selectOptions (config "speeds") selected=system.attributes.speed.mainMovement}}
            </select>
        </div>
    </div>
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "Submit"}}</button>
</form>
