<div class="encounter-stats-sheet">
    <div class="stats-header">
        <table>
            <tr>
                <td class="table-left">
                    {{localize "SFRPG.Combat.Difficulty.Tooltip.APLFull"}} ({{localize
                    "SFRPG.Combat.Difficulty.Tooltip.APL"}})
                </td>
                <td class="table-right">
                    {{difficultyData.APL}}
                </td>
            </tr>
            <tr>
                <td class="table-left">
                    {{localize "SFRPG.Combat.Difficulty.Tooltip.EncounterCR"}} ({{localize
                    "SFRPG.Combat.Difficulty.Tooltip.CR"}})
                </td>
                <td class="table-right">
                    {{difficultyData.CR}}
                </td>
            </tr>
            <tr>
                <td class="table-left">
                    {{localize "SFRPG.Combat.Difficulty.Tooltip.EnemyXP"}}
                </td>
                <td class="table-right">
                    {{difficultyData.enemyXP}} {{localize "SFRPG.Combat.Difficulty.Units.XP"}}
                </td>
            </tr>
            <tr>
                <td class="table-left">
                    {{localize "SFRPG.Combat.Difficulty.Tooltip.XPBounds"}} ({{localize
                    "SFRPG.Combat.Difficulty.Tooltip.CR"}} {{difficultyData.CR}})
                </td>
                <td class="table-right">
                    {{difficultyData.CRXPboundsString}} {{localize "SFRPG.Combat.Difficulty.Units.XP"}}
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="table-left">
                    {{localize "SFRPG.Combat.Difficulty.Tooltip.PlayerXP"}}
                </td>
                <td class="table-right">
                    {{difficultyData.playerXP}} {{localize "SFRPG.Combat.Difficulty.Units.XP"}}
                </td>
            </tr>
            <tr>
                <td class="table-left">
                    {{localize "SFRPG.Combat.Difficulty.Tooltip.EncounterWealth"}}
                </td>
                <td class="table-right">
                    {{difficultyData.wealth}} {{localize "SFRPG.Combat.Difficulty.Units.Credits"}}
                </td>
            </tr>
        </table>
        {{#if (ne difficultyData.leftoverCR "0")}}
        {{#if (ne difficultyData.difficulty "greaterThanEpic")}}
            <table>
                <tr>
                    <td class="table-left">
                        {{localize "SFRPG.Combat.Difficulty.Tooltip.CanBeAdded"}}
                    </td>
                    <td class="table-right">
                        {{difficultyData.leftoverCR}}
                    </td>
                </tr>
            </table>
        {{/if}}
        {{/if}}
    </div>

    <div class="combatants-title">
        <div class="title-item">
            {{localize "SFRPG.Combat.Difficulty.Tooltip.Players"}}
        </div>
        <div class="title-item">
            {{localize "SFRPG.Combat.Difficulty.Tooltip.Enemies"}}
        </div>
    </div>

    <div class="stats-body">
        <div class="body-col">
            <ul class="combatant-list">
                {{#each difficultyData.PCs as |combatant id|}}
                    <li class="combatant-list ally" data-combatant-id="{{combatant.id}}">
                        <img class="img" src="{{combatant.img}}" title="{{combatant.name}}" width="48" height="48" />
                        <div class="combatant-info">
                            <h4>
                                {{combatant.name}}
                            </h4>
                            <label class="combatant-level">{{localize "SFRPG.LevelLabelText"}}
                                {{combatant.actor.system.details.level.value}}</label>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="body-col">
            <ul class="combatant-list">
                {{#each difficultyData.enemies as |combatant id|}}
                    <li class="combatant-list enemy" data-combatant-id="{{combatant.id}}">
                        <img class="img" src="{{combatant.img}}" title="{{combatant.name}}" width="48" height="48" />
                        <div class="combatant-info">
                            <h4>
                                {{combatant.name}}
                            </h4>
                            <label class="combatant-level">{{localize "SFRPG.Combat.Difficulty.Tooltip.CR"}}
                                {{crDecimalToFraction combatant.actor.system.details.cr}}</label>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
