<form class="trait-selector" autocomplete="off" onsubmit="event.preventDefault();">
{{console this}}

    <header>
        {{!-- Search Bar --}}
        <div class="sortcontainer" id="tagfilter">
            <input class="" name="textFilter" type="text" value="" data-dtype="String" placeholder="{{localize "SFRPG.Browsers.ItemBrowser.BrowserSearchPlaceholder"}}"/>
        </div>

        {{!-- Selected Trait List --}}
        <hr />
        <ul class="trait-list{{#if needsTextField}} selected{{/if}}">
            {{#each choices as |choice key|}}
            {{#if choice.isSelected}}
                <li class="trait">
                    <label class="checkbox" {{#if choice.tooltip}}data-tooltip="<strong>{{choice.label}}</strong><br/>{{choice.tooltip}}"{{/if}}>
                        <input type="checkbox" name="{{key}}" data-dtype="Boolean" {{checked choice.isSelected}}>
                        {{choice.label}}
                    </label>

                    {{#if ../needsTextField}}
                        <input type="text">
                    {{/if}}
                </li>
            {{/if}}
            {{/each}}
        </ul>
        
        {{!-- Special Traits --}}
        <div class="form-group stacked">
            <label style="text-align: center">{{{localize "SFRPG.Special"}}}</label>
            <input type="text" name="custom" value="{{custom}}" data-dtype="String"/>
        </div>

        {{!-- Save and Exit Button --}}
        <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{{localize "SFRPG.UpdateActor"}}}</button>
        <hr />
    
    </header>

    {{!-- Trait Options List --}}
    <ul class="trait-list not-selected">
        {{#each choices as |choice key|}}
        {{#unless choice.isSelected}}
            <li class="trait">
                <label class="checkbox" {{#if choice.tooltip}}data-tooltip="<strong>{{choice.label}}</strong><br/>{{choice.tooltip}}"{{/if}}>
                    <input type="checkbox" name="{{key}}" data-dtype="Boolean" {{checked choice.isSelected}}>
                    {{choice.label}}
                </label>
            </li>
        {{/unless}}
        {{/each}}
    </ul>

</form>
