<form class="trait-selector" autocomplete="off" onsubmit="event.preventDefault();">

    {{!-- Search Bar --}}
    <div class="sortcontainer" id="tagfilter">
        <input class="" name="textFilter" type="text" value="" data-dtype="String" placeholder="{{localize "SFRPG.Browsers.ItemBrowser.BrowserSearchPlaceholder"}}"/>
    </div>

    {{!-- Trait List --}}
    <ul class="trait-list">
        {{#each choices as |choice key|}}
            <li class="trait">
                <label class="checkbox">
                    <input type="checkbox" name="{{key}}" data-dtype="Boolean" {{checked choice.isSelected}}>
                    {{choice.label}}
                </label>
            </li>
        {{/each}}
    </ul>

    {{!-- Special Traits --}}
    <div class="form-group stacked">
        <label>{{{localize "SFRPG.Special"}}}</label>
        <input type="text" name="custom" value="{{custom}}" data-dtype="String"/>
    </div>

    {{!-- Save and Exit Button --}}
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{{localize "SFRPG.UpdateActor"}}}</button>
</form>
