{{!-- Descriptors Template --}}
<div class="bubble">
    <h3 class="bubble-header">{{localize "SFRPG.Descriptors.Descriptors"}}</h3>

    <div class="bubble-info form-group stacked item-descriptors">
        {{#each config.descriptors as |name desc|}}
        <label class="checkbox" {{#if (lookup ../config.descriptorsTooltips desc)}} data-tippy-content='<strong>{{ name }}</strong><br/>{{lookup ../config.descriptorsTooltips desc}}' {{/if}}>
            <input type="checkbox" name="system.descriptors.{{desc}}" {{checked (lookup ../itemData.descriptors desc)}} /> {{ name }}
        </label>
        {{/each}}
    </div>
</div>