<div class="bubble">
    <h3 class="bubble-header">{{ localize "SFRPG.CapacityUsage" }}</h3>

    <div class="bubble-info">
        <div class="form-group">
            <label>{{ localize "SFRPG.Items.Ammunition.AmmunitionType" }}</label>
            <div class="form-fields">
                <select name="system.ammunitionType">
                    {{selectOption "" "SFRPG.Items.Ammunition.Type.None" selected=itemData.ammunitionType localize=true}}
                    {{selectOptions config.ammunitionTypes selected=itemData.ammunitionType}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label data-tooltip="{{ localize "SFRPG.Items.Capacity.HeaderTooltip" }}">
                {{ localize "SFRPG.Items.Capacity.Capacity" }}
            </label>
            <div class="form-fields">
                {{#unless data.system.ammunitionType}}
                <input type="text" data-tooltip="{{ localize "SFRPG.Items.Capacity.CapacityValueTooltip" }}" name="system.capacity.value" value="{{itemData.capacity.value}}" data-dtype="Number" />
                <span class="sep"> / </span>
                {{/unless}}
                <input type="text" data-tooltip="{{ localize "SFRPG.Items.Capacity.CapacityMaxTooltip" }}" name="system.capacity.max" value="{{itemData.capacity.max}}" data-dtype="Number" />
            </div>
        </div>

        <div class="form-group">
            <label data-tooltip="{{ localize "SFRPG.Items.Capacity.UsageTooltip" }}">
                {{ localize "SFRPG.Items.Capacity.Usage" }}
            </label>
            <div class="form-fields">
                <input type="text" data-tooltip="{{ localize "SFRPG.Items.Capacity.UsageTooltip" }}" name="system.usage.value" value="{{itemData.usage.value}}" data-dtype="Number" />
                <span class="sep"> / </span>
                <select name="system.usage.per" data-tooltip="{{ localize "SFRPG.Items.Capacity.UsageValueTooltip" }}">
                    {{selectOption "" "" selected=itemData.usage.per}}
                    {{selectOptions config.capacityUsagePer selected=itemData.usage.per}}
                </select>
            </div>
        </div>
    </div>
</div>
