<h4 class="section-header first">{{localize "SFRPG.MechSheet.Slots.Slots"}}</h4>
{{!-- Frame Slots--}}
{{#if (eq slotsType "frame")}}
    <div class="form-group">
        <label>{{localize "SFRPG.MechSheet.Slots.FrameSlots"}}</label>
        <div class="form-fields">
            <input type="text" name="system.slots.frame" value="{{itemData.slots.frame}}" data-dtype="Number"/>
        </div>
    </div>
{{/if}}

{{!-- Lower Limb Slots--}}
{{#if (eq slotsType "limb")}}
    {{#if (eq itemData.type "lower")}}
        <div class="form-group">
            <label>{{localize "SFRPG.MechSheet.Slots.LowerLimbSlots"}}</label>
            <div class="form-fields">
                <input type="text" name="system.slots.lowerLimb" value="{{itemData.slots.lowerLimb}}" data-dtype="Number"/>
            </div>
        </div>
    {{/if}}
{{/if}}

{{!-- Upper Limb Slots--}}
{{#if (eq slotsType "limb")}}
    {{#if (eq itemData.type "upper")}}
        <div class="form-group">
            <label>{{localize "SFRPG.MechSheet.Slots.UpperLimbSlots"}}</label>
            <div class="form-fields">
                <input type="text" name="system.slots.upperLimb" value="{{itemData.slots.upperLimb}}" data-dtype="Number"/>
            </div>
        </div>
    {{/if}}
{{/if}}

{{!-- Auxiliary Limb Slots--}}
<div class="form-group">
    <label>{{localize "SFRPG.MechSheet.Slots.AuxiliarySlots"}}</label>
    <div class="form-fields">
        <input type="text" name="system.slots.auxiliary" value="{{itemData.slots.auxiliary}}" data-dtype="Number"/>
    </div>
</div>