{{log this}}
<div class="form-group">
    <label>{{ localize "SFRPG.Speed" }} <a class="config-button" data-action="movement" title="Movement speed"><i class="fas fa-cog"></i></a></label>
    <div class="form-fields">
        {{#if (eq itemData.attributes.speed.mainMovement "land")}}
            {{localize "SFRPG.ActorSheet.Attributes.Speed.Types.Land"}} - {{itemData.attributes.speed.land.base}} {{ localize "SFRPG.Units.Speed" }},
        {{else if (eq itemData.attributes.speed.mainMovement "burrowing")}}
            {{localize "SFRPG.ActorSheet.Attributes.Speed.Types.Burrowing"}} - {{itemData.attributes.speed.burrowing.base}} {{ localize "SFRPG.Units.Speed" }},
        {{else if (eq itemData.attributes.speed.mainMovement "climbing")}}
            {{localize "SFRPG.ActorSheet.Attributes.Speed.Types.Climbing"}} - {{itemData.attributes.speed.climbing.base}} {{ localize "SFRPG.Units.Speed" }},
        {{else if (eq itemData.attributes.speed.mainMovement "flying")}} {{!-- Add maneuverability --}}
            {{localize "SFRPG.ActorSheet.Attributes.Speed.Types.Flying"}} - {{itemData.attributes.speed.flying.base}} {{ localize "SFRPG.Units.Speed" }},
        {{else if (eq itemData.attributes.speed.mainMovement "swimming")}}
            {{localize "SFRPG.ActorSheet.Attributes.Speed.Types.Swimming"}} - {{itemData.attributes.speed.swimming.base}} {{ localize "SFRPG.Units.Speed" }},
        {{else if (eq itemData.attributes.speed.mainMovement "special")}}
            {{localize "SFRPG.ActorSheet.Attributes.Speed.Types.Special"}} - <input type="text" class="speed" name="system.attributes.speed.special"
                value="{{itemData.attributes.speed.special}}"
                placeholder="{{ localize 'SFRPG.SpeedSpecial' }}" disabled />,
        {{/if}}
    </div>
</div>

{{!-- Add secondary speed display --}}