{{#each itemData.ppAbilities as |part i|}}
    {{log ../config}}
    {{log part}}
    {{log i}}
    {{!-- Ability Type --}}
    <h3 class="section-header">{{ localize "SFRPG.MechSheet.PPAbility.PPAbility" }}</h3>
    <div class="form-group">
        <label>{{localize "SFRPG.MechSheet.PPAbility.AbilityType"}}</label>
        <div class="form-fields">
            <select class="actor-size" name="system.ppAbilities.{{i}}.abilityType">
                {{#select part.abilityType}}
                    <option value=""></option>
                    {{#each ../config.itemActionTypes as |label type|}}
                        <option value="{{type}}">{{localize label}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    <!-- {{#if part.abilityType}} -->

        {{!-- Saving Throw --}}
        <div class="form-group">
            <label>{{localize "SFRPG.MechSheet.PPAbility.SavingThrow"}}</label>
            <div class="form-fields">
                <select class="actor-size" name="system.ppAbilities.{{i}}.save.type">
                    {{#select part.save.type}}
                        <option value=""></option>
                        {{#each ../config.saves as |label saveType|}}
                            <option value="{{saveType}}">{{localize label}}</option>
                        {{/each}}
                    {{/select}}
                </select>
                {{localize "SFRPG.MechSheet.PPAbility.DC"}} <input type="text" name="system.ppAbilities.{{i}}.save.dc" value="{{part.save.dc}}" data-dtype="Number"/>
            </div>
        </div>

        {{!-- Activation --}}
        <div class="form-group">
            <label>{{localize "SFRPG.MechSheet.PPAbility.RequiresActivation"}}</label>
            <div class="form-fields">
                <label class="checkbox">
                    <input type="checkbox" name="system.ppAbilities.{{i}}.activation.requiresActivation" {{checked part.activation.requiresActivation}}/>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "SFRPG.MechSheet.PPAbility.Toggleable"}}</label>
            <div class="form-fields">
                <label class="checkbox">
                    <input type="checkbox" name="system.ppAbilities.{{i}}.activation.toggleable" {{checked part.activation.toggleable}}/>
                </label>
            </div>
        </div>

        {{!-- PP Cost --}}
        <div class="form-group">
            <label>{{localize "SFRPG.MechSheet.PPAbility.Cost"}}</label>
            <div class="form-fields">
                <div class="form-group">
                    <label>{{localize "SFRPG.MechSheet.PPAbility.IsVariable"}}</label>
                    <div class="form-fields">
                        <label class="checkbox">
                            <input type="checkbox" name="system.ppAbilities.{{i}}.cost.variable" {{checked part.cost.variable}}/>
                        </label>
                    </div>
                </div>
                <input type="text" name="system.ppAbilities.{{i}}.cost.value" value="{{part.cost.value}}" data-dtype="Number"{{#if part.cost.variable}} disabled{{/if}}/> {{localize "SFRPG.MechSheet.PPAbility.PP"}}
            </div>
        </div>

        {{!-- Damage --}}
        <div class="form-group">
            <label>{{localize "SFRPG.MechSheet.PPAbility.DamageLevel"}}</label>
            <div class="form-fields">
                <select class="actor-size" name="system.ppAbilities.{{i}}.damage">
                    {{#select part.damage}}
                        <option value=""></option>
                        {{#each ../config.mechWeaponDamageLevels as |label damage|}}
                            <option value="{{damage}}">{{localize label}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>

        {{!-- Description --}}
        <h4 class="section-header">{{localize "SFRPG.MechSheet.PPAbility.Description"}}</h4>
        <div class="tab flexrow">
            {{editor
                part.description
                target="system.ppAbility.description"
                button=true
                editable=editable
                engine="prosemirror"
                collaborate="true"
            }}
        </div>

    <!-- {{/if}} -->
{{/each}}