<br />
<h3 class="pp-ability-header">
    {{ localize "SFRPG.MechSheet.PPAbility.AddPPAbility" }}
    <a class="pp-ability-control add-pp-ability"><i class="fas fa-plus"></i></a>
</h3>

<ol class="pp-abilities form-group">
{{#each itemData.ppAbilities as |part i|}}
    <li class="pp-ability" style="border: 0;" data-ability-number="{{i}}">
        <span>&nbsp;</span>
        <h4 class="pp-ability-header" style="border-bottom: groove 2px #fff;">
            {{#unless (lookup part "name") }}{{ localize "SFRPG.MechSheet.PPAbility.PPAbility"}}{{else}}{{lookup part "name"}}{{/unless}}:
            <a class="pp-ability-control delete-pp-ability" ><i class="fas fa-minus"></i></a>
        </h4>

        {{!-- Name --}}
        <div class="form-group">
            <label>{{localize "SFRPG.MechSheet.PPAbility.Name"}}</label>
            <div class="form-fields">
                <input type="text" name="system.ppAbilities.{{i}}.name" value="{{part.name}}" data-dtype="String"/>
            </div>
        </div>

        {{!-- Ability Type --}}
        <div class="form-group">
            <label>{{localize "SFRPG.MechSheet.PPAbility.AbilityType"}}</label>
            <div class="form-fields">
                <select class="actor-size" name="system.ppAbilities.{{i}}.abilityType">
                    {{#select part.abilityType}}
                        <option value=""></option>
                        {{#each ../config.itemActionTypes as |label type|}}
                            <option value="{{type}}">{{localize label}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>

        {{!-- Saving Throw --}}
        <div class="form-group">
            <label>{{localize "SFRPG.MechSheet.PPAbility.SavingThrow"}}</label>
            <div class="form-fields">
                <select class="actor-size" name="system.ppAbilities.{{i}}.save.type">
                    {{#select part.save.type}}
                        <option value=""></option>
                        {{#each ../config.saves as |label saveType|}}
                            <option value="{{saveType}}">{{localize label}}</option>
                        {{/each}}
                    {{/select}}
                </select>
                {{localize "SFRPG.MechSheet.PPAbility.DC"}} <input type="text" name="system.ppAbilities.{{i}}.save.dc" value="{{part.save.dc}}" data-dtype="Number"/>
            </div>
        </div>

        {{!-- Activation --}}
        <div class="form-group">
            <label>{{localize "SFRPG.MechSheet.PPAbility.RequiresActivation"}}</label>
            <div class="form-fields">
                <label class="checkbox">
                    <input type="checkbox" name="system.ppAbilities.{{i}}.activation.requiresActivation" {{checked part.activation.requiresActivation}}/>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "SFRPG.MechSheet.PPAbility.Toggleable"}}</label>
            <div class="form-fields">
                <label class="checkbox">
                    <input type="checkbox" name="system.ppAbilities.{{i}}.activation.toggleable" {{checked part.activation.toggleable}}/>
                </label>
            </div>
        </div>

        {{!-- PP Cost --}}
        <div class="form-group">
            <label>{{localize "SFRPG.MechSheet.PPAbility.Cost"}}</label>
            <div class="form-fields">
                <div class="form-group">
                    <label>{{localize "SFRPG.MechSheet.PPAbility.IsVariable"}}</label>
                    <div class="form-fields">
                        <label class="checkbox">
                            <input type="checkbox" name="system.ppAbilities.{{i}}.cost.variable" {{checked part.cost.variable}}/>
                        </label>
                    </div>
                </div>
                <input type="text" name="system.ppAbilities.{{i}}.cost.value" value="{{part.cost.value}}" data-dtype="Number"{{#if part.cost.variable}} disabled{{/if}}/> {{localize "SFRPG.MechSheet.PPAbility.PP"}}
            </div>
        </div>

        {{!-- Damage --}}
        <div class="form-group">
            <label>{{localize "SFRPG.MechSheet.PPAbility.DamageLevel"}}</label>
            <div class="form-fields">
                <select class="actor-size" name="system.ppAbilities.{{i}}.damage">
                    {{#select part.damage}}
                        <option value=""></option>
                        {{#each ../config.mechWeaponDamageLevels as |label damage|}}
                            <option value="{{damage}}">{{localize label}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>

        {{!-- Description --}}
        <div class="form-group">
            <label>{{localize "SFRPG.MechSheet.PPAbility.Description"}}</label>
            <div class="ability-description">
                {{editor
                    part.enrichedDescription
                    target=(concat "system.ppAbilities." i ".description")
                    button=true
                    editable=../editable
                    engine="prosemirror"
                    collaborate="false"
                }}
            </div>
        </div>
    </li>
{{/each}}
</ol>