        <li class="item {{#if (not bigItem)}}small{{/if}}{{#if (eq item.type "container")}}container{{/if}}{{#if (eq item.type "effect")}}effect{{/if}} flexrow"
            data-item-id="{{item._id}}" {{#if (eq item.type "effect")}}data-effect-id="{{item.timedEffect}}"{{/if}}>
            <div class="item-name flexrow {{#if (not disableRolling)}}rollable{{/if}}">
                <div class="item-image {{#if (not bigItem)}}small{{/if}}" style="background-image: url({{item.img}})"></div>
                <h4>
                    {{#if (and (not (eq item.type "feat")) (or item.config.isStack (getStarfinderBoolean "alwaysShowQuantity")))}}({{item.system.quantity}}) {{/if}}
                    {{item.name}}
                </h4>
                {{#if (and isOwner (or (eq item.type "consumable") (or item.config.hasAttack item.config.hasDamage)))}}
                <div class="item-action {{#if item.parentItem}}flexrow flexnowrap{{else}}flexcol{{/if}}">
                    {{#if (eq item.type "consumable")}}
                        <button type="button" class="tag use">{{localize "SFRPG.Items.Consumable.UseAction"}}</button>
                    {{else}}
                        {{#if item.config.hasAttack}}
                        <button type="button" class="tag attack">{{localize "SFRPG.Attack"}}</button>
                        {{/if}}
                        {{#if item.config.hasDamage}}
                            {{#if (eq item.system.actionType "heal")}}
                                <button type="button" class="tag healing">{{localize "SFRPG.ActionHeal"}}</button>
                            {{else}}
                                <button type="button" class="tag damage">{{localize "SFRPG.Damage.Title"}}</button>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </div>
                {{/if}}
            </div>

            {{#unless onlyControls}}
            {{#if isCharacter}}
            <div class="item-detail item-weight">
                {{#if item.system.totalWeight}}
                <div class="item-detail">
                    {{ item.system.totalWeight }}
                </div>
                {{/if}}
            </div>
            {{/if}}

            <div class="item-detail item-uses">
                {{#if item.config.hasCapacity}}
                    {{item.config.capacityCurrent}} / {{item.config.capacityMaximum}}
                    {{#if isOwner}}
                &nbsp;
                <a class="item-control reload" title="{{localize "SFRPG.ActorSheet.Inventory.Weapon.Reload"}}"><i class="fas fa-redo"></i></a>
                    {{/if}}
                {{else if children}}
                    {{#if (eq item.type "container")}}
                        {{formatBulk item.itemBulk.contentBulk}} / {{getTotalStorageCapacity item}} {{localize "SFRPG.ActorSheet.Inventory.Container.CapacityLabelBulk"}}
                    {{else}}
                        {{children.length}} / {{getTotalStorageCapacity item}} {{localize "SFRPG.ActorSheet.Inventory.Container.CapacityLabelItems"}}
                    {{/if}}
                {{else if item.system.uses.max}}
                    {{item.system.uses.value}} / {{item.system.uses.max}}
                {{/if}}
            </div>

            <div class="item-detail item-action">
                {{#if (eq item.type "container")}}
                    {{#if item.config.isOpen}}
                        <a class="item-control toggle-container" title="{{localize "SFRPG.ActorSheet.Inventory.Container.CloseTooltip"}}"><i class="fas fa-arrow-up"></i> {{localize "SFRPG.ActorSheet.Inventory.Container.Close"}}</a>
                    {{else}}
                        <a class="item-control toggle-container" title="{{localize "SFRPG.ActorSheet.Inventory.Container.OpenTooltip"}}"><i class="fas fa-arrow-down"></i> {{localize "SFRPG.ActorSheet.Inventory.Container.Open"}}</a>
                    {{/if}}
                {{else if item.system.usage.per}}
                    {{item.system.usage.value}} / {{item.system.usage.per}}
                {{else if item.system.activation.type}}
                    {{#unless (or (eq item.type "consumable")(and (eq item.system.activation.type "none")(eq item.type "weapon")) ) }} <!-- Don't show action buttons on consumables because it interacts weirdly with their usage -->
                        {{#if item.system.isActive}}
                        <button type="button" class="tag featDeactivate">{{localize "SFRPG.ActorSheet.Inventory.Item.Deactivate"}}</button>
                        {{else}}
                        <button type="button" class="tag featActivate">{{item.labels.activation}}</button>
                        {{/if}}
                    {{/unless}}
                {{/if}}
            </div>
            {{/unless}}

            {{#if isOwner}}
            <div class="item-controls">
                {{#if (not disableEquipping)}}
                    {{!-- TODO: Remove this massive or chain once all weapons, shields, equipments, and containers have their data.equippable flag set in their json definitions --}}
                    {{#if (or (or (or (or (eq item.type "weapon") (eq item.type "shield")) (eq item.type "equipment")) (eq item.type "container")) item.system.equippable)}}
                        {{#if item.system.equipped}}
                            <a class="item-control item-equip" title="{{localize "SFRPG.ActorSheet.Inventory.Item.Unequip"}}"><i class="fas fa-check"></i></a>
                        {{else}}
                            <a class="item-control item-equip" title="{{localize "SFRPG.ActorSheet.Inventory.Item.Equip"}}"><i class="far fa-square"></i></a>
                        {{/if}}
                    {{/if}}
                {{/if}}
                {{#if (eq item.type "effect")}}
                    <a class="item-control effect-toggle" {{createTippy title="SFRPG.ActorSheet.Modifiers.Tooltips.ToggleEffect" subtitle="SFRPG.ActorSheet.Modifiers.Tooltips.ToggleEffectTooltip"}}>{{#if item.system.enabled}}<i class="far fa-check-square">{{else}}<i class="far fa-square"></i>{{/if}}</i></a>
                {{/if}}
                <a class="item-control item-edit" title="{{localize "SFRPG.ActorSheet.Inventory.Item.Edit"}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize "SFRPG.ActorSheet.Inventory.Item.Delete"}}"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
        </li>

        {{#if (and children item.config.isOpen)}}
        <ol class="item-list-child">
        {{#each children as |childItem iid|}}
            {{> "systems/sfrpg/templates/actors/parts/actor-inventory-item.hbs" ../this bigItem=false item=childItem.item children=childItem.contents}}
        {{/each}}
        </ol>
        {{/if}}
