<div class="traits">
    {{#if isNPC}}
        <div class="form-group">
        <label>{{localize "SFRPG.CombatRoles.Label"}}</label>
        <select class="npc-combat-role" name="system.details.combatRole">
            {{#select system.details.combatRole}}
                <option value=""></option>
            {{#each config.combatRoles as |label role|}}
                <option value="{{role}}">{{label}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    {{/if}}
    <div class="form-group" data-tippy-content="<strong>{{localize "SFRPG.Size"}}</strong><br/>@system.traits.size">
        <label>{{localize "SFRPG.Size"}}</label>
        {{#if (not isDrone)}}
        <select class="actor-size" name="system.traits.size">
            {{#select system.traits.size}}
            {{#each config.actorSizes as |label size|}}
                <option value="{{size}}">{{label}}</option>
            {{/each}}
            {{/select}}
        </select>
        {{else}}
        <span class="value">{{system.traits.size}}</span>
        {{/if}}
    </div>

    {{#if (not isDrone)}}
    <div class="form-group" data-tippy-content="<strong>{{localize "SFRPG.KeyAbility"}}</strong><br/>@system.attributes.keyability">
        <label>{{localize "SFRPG.KeyAbility"}}</label>
        <select class="actor-keyability" name="system.attributes.keyability">
            {{#select system.attributes.keyability}}
            <option value="">Choose One</option>
            {{#each config.abilities as |label abl|}}
                <option value="{{abl}}">{{label}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    {{/if}}

    <div class="form-group {{#unless system.traits.senses}}inactive{{/unless}}" data-tippy-content="<strong>{{localize "SFRPG.SensesTypes.Senses"}}</strong><br/>@system.traits.senses">
        <label>{{localize "SFRPG.SensesTypes.Senses"}}</label>
        {{#if (not isDrone)}}
        <input type="text" name="system.traits.senses" value="{{system.traits.senses}}" placeholder="{{localize "SFRPG.None"}}"/>
        {{else}}
        <span class="value">{{system.traits.senses}}</span>
        {{/if}}
    </div>

    {{#if (not isDrone)}}
    <div class="form-group" data-tippy-content="<strong>{{localize "SFRPG.NumberOfArms"}}</strong><br/>@system.attributes.arms">
        <label>{{localize "SFRPG.NumberOfArms"}}</label>
        <input type="text" name="system.attributes.arms" value="{{system.attributes.arms}}" placeholder="2" />
    </div>

    {{#if isCharacter}}
    <div class="form-group" {{createTippy title="SFRPG.ActorSheet.Traits.MagicalItems" subtitle="@magicalItems.worn<br/>@magicalItems.max" tooltips=system.magicalItems.tooltip}}>
        <label>{{localize "SFRPG.ActorSheet.Traits.MagicalItems"}}</label>
        <span type="text" {{#if (gt system.magicalItems.worn system.magicalItems.max)}}class="error"{{/if}} style="text-align: center;">{{system.magicalItems.worn}}</span>
        <span class="sep">/</span>
        <span type="text" style="text-align: center;">{{system.magicalItems.max}}</span>
    </div>
    {{/if}}

    <div class="form-group" data-tippy-content="<strong>{{localize "SFRPG.Space"}}</strong><br/>@system.attributes.space">
        <label>{{localize "SFRPG.Space"}}</label>
        <input type="text" name="system.attributes.space" value="{{system.attributes.space}}" placeholder="5" />
    </div>
    <div class="form-group" data-tippy-content="<strong>{{localize "SFRPG.Reach"}}</strong><br/>@system.attributes.reach">
        <label>{{localize "SFRPG.Reach"}}</label>
        <input type="text" name="system.attributes.reach" value="{{system.attributes.reach}}" placeholder="0" />
    </div>
    {{else}}
    <div class="form-group" data-tippy-content="<strong>{{localize "SFRPG.DroneSheet.Traits.GeneralPurposeArms"}}</strong><br/>@system.attributes.arms">
        <label>{{localize "SFRPG.DroneSheet.Traits.GeneralPurposeArms"}}</label>
        <span class="value">{{system.attributes.arms}}</span>
    </div>
    <div class="form-group" data-tippy-content="<strong>{{localize "SFRPG.DroneSheet.Traits.MeleeWeaponMounts"}}</strong><br/>@system.attributes.weaponMounts.melee.max">
        <label>{{localize "SFRPG.DroneSheet.Traits.MeleeWeaponMounts"}}</label>
        <span class="value">{{system.attributes.weaponMounts.melee.max}}</span>
    </div>
    <div class="form-group" data-tippy-content="<strong>{{localize "SFRPG.DroneSheet.Traits.RangedWeaponMounts"}}</strong><br/>@system.attributes.weaponMounts.ranged.max">
        <label>{{localize "SFRPG.DroneSheet.Traits.RangedWeaponMounts"}}</label>
        <span class="value">{{system.attributes.weaponMounts.ranged.max}}</span>
    </div>
    {{/if}}

    {{#if isDrone}}
    <div class="form-group" data-tippy-content="<strong>{{localize "SFRPG.SFRPG.DroneSheet.Traits.ArmorSlots"}}</strong><br/>@system.attributes.armorSlots.current<br/>@system.attributes.armorSlots.max">
        <label>{{localize "SFRPG.DroneSheet.Traits.ArmorSlots"}}</label>
        <span class="value">{{system.attributes.armorSlots.current}}</span>
        <span class="sep">/</span>
        <span class="value">{{system.attributes.armorSlots.max}}</span>
    </div>
    {{/if}}

    {{#if (not isDrone)}}
    <div class="form-group {{system.traits.languages.cssClass}}">
        <label for="system.traits.languages">{{localize "SFRPG.Languages"}}</label>
        <ul class="traits-list">
        {{#each system.traits.languages.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
        <a class="trait-selector" data-options="languages"><i class="fas fa-edit"></i></a>
    </div>
    {{/if}}

    {{#if (not isDrone)}}
    <div class="form-group" data-tippy-content="<strong>{{localize "SFRPG.SpellResistance"}}</strong><br/>@system.traits.sr">
        <label>{{localize "SFRPG.SpellResistance"}}</label>
        <input type="text" name="system.traits.sr" value="{{system.traits.sr}}" data-dtype="Number" />
    </div>
    {{else}}
    <div class="form-group" {{createTippy title="SFRPG.SpellResistance" subtitle="@traits.spellResistance.value" tooltips=system.traits.spellResistance.tooltip}}>
        <label>{{localize "SFRPG.SpellResistance"}}</label>
        <span class="value">{{system.traits.spellResistance.value}}</span>
    </div>
    {{/if}}

    <div class="form-group damage-reduction" {{createTippy title="SFRPG.Damage.Reduction" subtitle="@traits.damageMitigation.damageReductionFirst.value<br/>@traits.damageMitigation.damageReductionFirst.negatedBy" tooltips=system.traits.damageMitigation.damageReductionTooltip}}>
        <label>{{localize "SFRPG.Damage.Reduction"}}</label>
        {{#if system.traits.damageMitigation.damageReductionFirst}}
            {{#with system.traits.damageMitigation.damageReductionFirst}}
            <span type="text" style="text-align: center;">{{value}}</span>
            <span class="sep">/</span>
            <span type="text" style="text-align: center;">
                {{#if (eq negatedBy "")}}
                    -
                {{else}}
                    {{#if (lookup ../config.damageReductionTypes negatedBy)}}
                        {{lookup ../config.damageReductionTypes negatedBy}}
                    {{else}}
                        {{negatedBy}}
                    {{/if}}
                {{/if}}
            </span>
            {{/with}}
        {{else}}
        <span type="text" style="text-align: center;">0</span>
        <span class="sep">/</span>
        <span type="text" style="text-align: center;">-</span>
    {{/if}}
    </div>

    <div class="form-group {{system.traits.dr.cssClass}}">
        <label for="system.traits.dr">{{localize "SFRPG.Damage.Resistances"}}</label>
        <ul class="traits-list">
        {{#each system.traits.damageMitigation.energyResistance as |erModifier damageType|}}
            {{#if (eq damageType "custom")}}
            <li class="tag {{damageType}}">{{erModifier.source.notes}} {{erModifier.value}}</li>
            {{else}}
                <li class="tag {{damageType}}">{{lookup ../config.energyResistanceTypes damageType}} {{erModifier.value}}</li>
            {{/if}}
        {{/each}}
        </ul>
    </div>

    {{#if (not isDrone)}}
    <div class="form-group {{system.traits.dv.cssClass}}">
        <label for="system.traits.dv">{{localize "SFRPG.Damage.Vulnerabilities"}}</label>
        <ul class="traits-list">
        {{#each system.traits.dv.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
        <a class="trait-selector" data-options="damageTypes"><i class="fas fa-edit"></i></a>
    </div>

    <div class="form-group {{system.traits.di.cssClass}}">
        <label for="system.traits.di">{{localize "SFRPG.Damage.Immunities"}}</label>
        <ul class="traits-list">
        {{#each system.traits.di.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
        <a class="trait-selector" data-options="damageTypes"><i class="fas fa-edit"></i></a>
    </div>

    <div class="form-group {{system.traits.ci.cssClass}}">
        <label for="system.traits.ci">{{localize "SFRPG.ConImm"}}</label>
        <ul class="traits-list">
        {{#each system.traits.ci.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
        <a class="trait-selector" data-options="conditionTypes"><i class="fas fa-edit"></i></a>
    </div>
    {{/if}}

    {{#if (or isCharacter isDrone)}}
        <div class="form-group {{system.traits.weaponProf.cssClass}}">
            <label for="system.traits.weaponProf">{{localize "SFRPG.TraitWeaponProf"}}</label>
            <ul class="traits-list">
            {{#each system.traits.weaponProf.selected as |v k|}}
                <li class="tag {{k}}">{{v}}</li>
            {{/each}}
            </ul>
            <a class="trait-selector" data-options="weaponProficiencies"><i class="fas fa-edit"></i></a>
        </div>

        {{#if isCharacter}}
        <div class="form-group {{system.traits.armorProf.cssClass}}">
            <label for="system.traits.armorProf">{{localize "SFRPG.TraitArmorProf"}}</label>
            <ul class="traits-list">
            {{#each system.traits.armorProf.selected as |v k|}}
                <li class="tag {{k}}">{{v}}</li>
            {{/each}}
            </ul>
            <a class="trait-selector" data-options="armorProficiencies"><i class="fas fa-edit"></i></a>
        </div>
        {{/if}}
    {{/if}}

    {{#if isNPC}}
    <div class="form-group" data-tippy-content="<strong>{{localize "SFRPG.NPCSheet.Header.AuraPlaceHolderText"}}</strong><br/>@system.details.aura">
        <label>{{localize "SFRPG.NPCSheet.Header.AuraPlaceHolderText"}}</label>
        <input type="text" name="system.details.aura" value="{{system.details.aura}}" />
    </div>
    <div class="form-group" {{createTippy title="SFRPG.NPCSheet.Header.AbilityDC" subtitle="@attributes.abilityDC.value" tooltips="SFRPG.NPCSheet.Header.AbilityDCTooltip"}}>
        <label>{{localize "SFRPG.NPCSheet.Header.AbilityDC"}}</label>
        <input type="text" name="system.attributes.abilityDC.base" value="{{system.attributes.abilityDC.base}}" placeholder="0"/>
    </div>
    <div class="form-group" {{createTippy title="SFRPG.NPCSheet.Header.BaseSpellDC" subtitle="@attributes.baseSpellDC.value" tooltips="SFRPG.NPCSheet.Header.BaseSpellDCTooltip"}}>
        <label>{{localize "SFRPG.NPCSheet.Header.BaseSpellDC"}}</label>
        <input type="text" name="system.attributes.baseSpellDC.base" value="{{system.attributes.baseSpellDC.base}}" placeholder="0"/>
    </div>
    {{/if}}

    {{#if (not isDrone)}}
    <div class="form-group ">
        <label>{{localize "SFRPG.SpecialTraits"}}</label>
        <a class="configure-flags"><i class="fas fa-cog"></i></a>
    </div>
    {{/if}}
</div>
