<div class="sfrpg chat-card weapon-card" data-actor-id="{{actor.id}}" data-item-id="{{item._id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 class="item-name noborder">{{item.name}}</h3>
    </header>

    <div class="card-content">{{{system.description.value}}}</div>

    <div class="card-buttons">
        {{#if system.hasCharges}}
        <button type="button" data-action="consume">Use {{system.consumableType.str}}</button>
        {{else}}
        <button type="button" disabled>No Charges</button>
        {{/if}}
        {{#if hasSave}}<button type="button" data-action="save" data-type="{{system.save.type}}">{{ localize "SFRPG.Save" }} {{labels.save}}</button>{{/if}}
        {{#if hasSkill}}<button type="button" class="chat-button-skill" data-action="skill" data-type="{{item.system.skillCheck.type}}">{{item.labels.skillCheck}}</button>{{/if}}
        {{#if hasArea}}<button type="button" class="chat-button-template" data-action="template" data-type="{{item.system.area.type}}">{{localize "SFRPG.ChatCard.PlaceAbilityTemplate" label=item.labels.area}}</button>{{/if}}
    </div>

    <footer class="card-footer">
        {{#each system.properties}}
        <span>{{this.name}}</span>
        {{/each}}
    </footer>
</div>
