<div class="encounter-stats-sheet">
    <div class="encounter-stats-header">
        <ul class="no-bullets">
            <li>
                <div class="encounter-header-col-left">
                    {{localize "SFRPG.Combat.Difficulty.Tooltip.APLFull"}} ({{localize "SFRPG.Combat.Difficulty.Tooltip.APL"}})
                </div>
                <div class="encounter-header-col-right">
                    {{flags.sfrpg.APL}}
                </div>
            </li>
            <li>
                <div class="encounter-header-col-left">
                    {{localize "SFRPG.Combat.Difficulty.Tooltip.EncounterCR"}} ({{localize "SFRPG.Combat.Difficulty.Tooltip.CR"}})
                </div>
                <div class="encounter-header-col-right">
                    {{flags.sfrpg.CR}}
                </div>
            </li>
            <li>
                <div class="encounter-header-col-left">
                    {{localize "SFRPG.Combat.Difficulty.Tooltip.EnemyXP"}}
                </div>
                <div class="encounter-header-col-right">
                    {{flags.sfrpg.enemyXP}}
                </div>
            </li>
            <li>
                <div class="encounter-header-col-left">
                    {{localize "SFRPG.Combat.Difficulty.Tooltip.XPBounds"}} ({{localize "SFRPG.Combat.Difficulty.Tooltip.CR"}} {{flags.sfrpg.CR}})
                </div>
                <div class="encounter-header-col-right">
                    [{{flags.sfrpg.CRXPbounds}}]
                </div>
            </li>
        </ul>
    </div>
    <div class="encounter-stats-body">
        <div class="encounter-stats-players">
            <div class="encounter-header">

            </div>
        </div>
        <div class="encounter-stats-enemies">
            
        </div>
    </div>
</div>