<div class="bubble">
    <h3 class="bubble-header">{{ localize "SFRPG.Items.EquipmentStatus" }}</h3>

    <div class="form-group stacked bubble-info">
        {{#if hasProficiency}}
            <label class="checkbox">
                <input type="checkbox" name="system.proficient" {{checked itemData.proficient}} />
                {{ localize "SFRPG.Items.Proficient" }}
            </label>
        {{/if}}
        {{#if isWeapon}}
            <label class="checkbox" data-tooltip="SFRPG.Items.Weapon.IsEquipment.Tooltip">
                <input type="checkbox" name="system.isEquipment" {{checked itemData.isEquipment}} />
                {{ localize "SFRPG.Items.Weapon.IsEquipment.Title" }}
            </label>
        {{/if}}
        <label class="checkbox">
            <input type="checkbox" name="system.identified" {{checked itemData.identified}} />
            {{ localize "SFRPG.Items.Identified" }}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="system.equippable" {{checked itemData.equippable}} />
            {{ localize "SFRPG.Items.Equippable" }}
        </label>
        {{#if itemData.equippable}}
            <label class="checkbox">
                <input type="checkbox" name="system.equipped" {{checked itemData.equipped}} />
                {{ localize "SFRPG.Items.Equipped" }}
            </label>
        {{/if}}
    </div>
</div>
