<div class="document-browser flexrow">
    <div class="control-area">
        <div class="sortcontainer" id="tagfilter">
            <input class="" name="textFilter" type="text" value="" data-dtype="String" placeholder="{{localize "SFRPG.Browsers.ItemBrowser.BrowserSearchPlaceholder"}}" title="{{localize "SFRPG.Browsers.ItemBrowser.BrowserSearchTitle"}}"/>
            <div class="hint" style="display:none;">
                {{{localize "SFRPG.Browsers.ItemBrowser.SearchHint"}}}
            </div>
            <dl id="sorter">
                <dt>{{localize "SFRPG.Browsers.ItemBrowser.BrowserSortByLabel"}}:</dt>
                <dd><select class="sortingControl" name="sortorder">
                    {{#select defaultSortMethod}}
                    {{#each sortingMethods as |method id|}}
                    <option value="{{id}}" {{#if method.selected}}selected{{/if}}>{{method.name}}</option>
                    {{/each}}
                    {{/select}}
                </select></dd>
            </dl>
        </div>
        <button type="button" class="clear-filters">{{localize "SFRPG.Browsers.ItemBrowser.BrowserClearFilters"}}</button>
        <div class="document-browser-filters">
            {{#each filters as |filter filterKey|}}
            <div class="filtercontainer" id="classfilter">
                <h3 class="noborder">{{filter.label}}</h3>
                {{#if (eq filter.type "multi-select")}}
                <dl>
                    {{#each filter.content as |content key|}}
                    <label>
                        <dt>
                            <input type="checkbox" name="{{filterKey}}-{{key}}" />
                        </dt>
                        <dd>
                            {{localize content}}
                        </dd>
                    </label>
                    {{/each}}
                </dl>
                {{/if}}
                {{#if (eq filter.type "range")}}
                <dl>
                    <div class="flexrow">
                        <input style="flex: 2;" class="rangeFilter" name="{{filterKey}}-min" type="text" value="{{filter.content.min}}" data-dtype="String" title="{{localize "SFRPG.Browsers.ItemBrowser.BrowserSearchTitle"}}"/>
                        <span style="flex: 1; text-align: center;">-</span>
                        <input style="flex: 2;" class="rangeFilter" name="{{filterKey}}-max" type="text" value="{{filter.content.max}}" data-dtype="String" title="{{localize "SFRPG.Browsers.ItemBrowser.BrowserSearchTitle"}}"/>
                    </div>
                </dl>
                {{/if}}
                {{#if (eq filter.type "value")}}
                <dl>
                    <div class="flexrow">
                        <input style="flex: 2;" class="valueFilter" name="{{filterKey}}-value" type="text" value="{{filter.content.value}}" data-dtype="String" title="{{localize "SFRPG.Browsers.ItemBrowser.BrowserSearchTitle"}}"/>
                    </div>
                </dl>
                {{/if}}
            </div>
            {{/each}}
        </div>
    </div>
    <div class="content flexcol">
        <div class="header flexrow">
            <div class="item-image"></div>
            <div class="item-name item-sort-link" data-key="name">{{localize "SFRPG.Browsers.ItemBrowser.BrowserSortMethodName"}}</div>
            {{#each tags as |value key|}}
            <div class="item-tags item-sort-link" data-key="{{value.sortValue}}">{{value.name}}</div>
            {{/each}}
        </div>
        <ul class="item-list">
            {{#each items as |item|}}
            <li class="item flexrow draggable" data-entry-compendium="{{item.compendium}}" data-entry-id="{{item._id}}" data-item-category="items">
                <div class="item-image">
                    <img class="" src="{{item.img}}" title="{{item.name}}" width="32" height="32"/>
                </div>

                <div class="item-name">
                    <span class="item-edit" ><a>{{item.name}}</a></span>
                </div>

                {{#each ../tags as |value key|}}
                <div class="item-tags">
                    <span title="item level">{{lookup item.system value.dataKey}}</span>
                </div>
                {{/each}}

                {{#each item.system as |attrib id|}}
                <input type="hidden" name="{{id}}" value="{{attrib}}">
                {{/each}}
            </li>
            {{/each}}
        </ul>
    </div>
</div>
