<div class="sfrpg chat-card item-action-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}} {{#if sceneId}}data-scene-id="{{sceneId}}"{{/if}}>
    {{!-- Card Details --}}
    {{> "systems/sfrpg/templates/chat/parts/card-item-details.hbs" isActorFocused=true}}

    <div class="card-content">
        {{#if item.system.description.short}}
        {{{item.system.description.short}}}
        {{else}}
        {{{item.system.description.value}}}
        {{/if}}
    </div>

    {{!-- Card Buttons --}}
    {{> "systems/sfrpg/templates/chat/parts/card-buttons.hbs"}}

    {{!-- Card Footer --}}
    {{> "systems/sfrpg/templates/chat/parts/card-footer.hbs" actionFooter=true}}
</div>
