<div class="sfrpg chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item._id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    {{!-- Card Details --}}
    {{> "systems/sfrpg/templates/chat/parts/card-item-details.hbs" isItemFocused=true}}

    {{!-- Card Buttons --}}
    {{> "systems/sfrpg/templates/chat/parts/card-buttons.hbs"}}

    <!-- TODO-Ian We want to make this collapsible down to ~4 lines by clicking on it -->
    <div class="card-content">
        {{#if system.description.short}}
            {{{system.description.short}}}
        {{else}}
            {{{system.description.value}}}
        {{/if}}
        {{#if system.materials.value}}
        <p><strong>{{ localize "SFRPG.Items.Spell.SpellcastingMaterials" }}:</strong> {{system.materials.value}}</p>
        {{/if}}
    </div>

    {{!-- Card Footer --}}
    {{> "systems/sfrpg/templates/chat/parts/card-footer.hbs" actionFooter=false}}
</div>
