<form autocomplete="off" onsubmit="event.preventDefault();">
    <ol class="trait-list">
    {{#unless isEnergyResistance}}
        {{#each choices as |choice key|}}
        <li>
            <label class="checkbox">
                <input type="checkbox" name="{{key}}" data-dtype="Boolean" {{checked choice.chosen}}>
                {{choice.label}}
            </label>
        </li>
        {{/each}}
    {{else}}
        {{#each choices as |choice key|}}
        <li class="flexrow energy-resistance">
            <label class="checkbox">
                <input type="checkbox" name="er.{{key}}.0" data-dtype="Boolean" {{checked choice.chosen}}>
                {{choice.label}}
            </label>

            <input type="text" name="er.{{key}}.1" data-dtype="Number" value="{{choice.resistanceValue}}" />
        </li>
        {{/each}}
    {{/unless}}
    </ol>
    <div class="form-group stacked">
        <label>Special</label>
        <input type="text" name="custom" value="{{custom}}" data-dtype="String"/>
    </div>
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i> Update Actor</button>
</form>
