<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    {{> "systems/sfrpg/templates/items/parts/item-header.hbs"}}

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SFRPG.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SFRPG.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/sfrpg/templates/items/parts/item-description.hbs"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">

            {{!-- Common Component Data --}}
            {{> "systems/sfrpg/templates/items/parts/starship-component.hbs"}}

            {{!-- Thruster Properties --}}
            <div class="bubble">
                <h3 class="bubble-header">{{ localize "SFRPG.ItemSheet.StarshipThruster.Header" }}</h3>

                <div class="bubble-info">
                    
                    {{!-- Supported Size --}}
                    <div class="form-group" data-tooltip="<b>{{ localize "SFRPG.ItemSheet.StarshipThruster.Size" }}</b><br/>{{ localize "SFRPG.ItemSheet.StarshipThruster.SizeTooltip" }}">
                        <label>{{ localize "SFRPG.ItemSheet.StarshipThruster.Size" }}</label>
                        <select name="system.supportedSize">
                            {{#select itemData.supportedSize}}
                            {{#each config.starshipSizes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>

                    {{!-- Speed --}}
                    <div class="form-group" data-tooltip="<b>{{ localize "SFRPG.ItemSheet.StarshipThruster.Speed" }}</b><br/>{{ localize "SFRPG.ItemSheet.StarshipThruster.SpeedTooltip" }}">
                        <label>{{ localize "SFRPG.ItemSheet.StarshipThruster.Speed" }}</label>
                        <div class="form-fields">
                            <input type="text" name="system.speed" value="{{itemData.speed}}" data-dtype="Number" placeholder="0" />
                        </div>
                    </div>

                    {{!-- Pilot Modifier --}}
                    <div class="form-group" data-tooltip="<b>{{ localize "SFRPG.ItemSheet.StarshipThruster.PilotingModifier" }}</b><br/>{{ localize "SFRPG.ItemSheet.StarshipThruster.PilotingModifierTooltip" }}">
                        <label>{{ localize "SFRPG.ItemSheet.StarshipThruster.PilotingModifier" }}</label>
                        <div class="form-fields">
                            <input type="text" name="system.pilotingModifier" value="{{itemData.pilotingModifier}}" data-dtype="Number" placeholder="0" />
                        </div>
                    </div>

                    {{!-- Booster Thruster --}}
                    <div class="form-group" data-tooltip="<b>{{ localize "SFRPG.ItemSheet.StarshipThruster.Booster" }}</b><br/>{{ localize "SFRPG.ItemSheet.StarshipThruster.BoosterTooltip" }}">
                        <label>{{ localize "SFRPG.ItemSheet.StarshipThruster.Booster" }}</label>
                        <div class="form-fields">
                            <label class="checkbox">
                                <input type="checkbox" name="system.isBooster" {{checked itemData.isBooster}}/> {{ localize "SFRPG.ItemSheet.StarshipThruster.IsBooster" }}
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="system.isEnabled" {{checked itemData.isEnabled}}/> {{ localize "SFRPG.ItemSheet.StarshipThruster.IsEnabled" }}
                            </label>
                        </div>
                    </div>
                    
                </div>
            </div>

            {{!-- Special Materials Template --}}
            {{> "systems/sfrpg/templates/items/parts/item-special-materials.hbs"}}

            <h4 class="section-header first"></h4>

            

        </div>

    </section>
</form>