<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    {{> "systems/sfrpg/templates/items/parts/item-header.hbs"}}

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SFRPG.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SFRPG.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/sfrpg/templates/items/parts/item-description.hbs"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">

            {{!-- Common Component Data --}}
            {{> "systems/sfrpg/templates/items/parts/starship-component.hbs" noPCUCost=true}}

            {{!-- Sensor Properties --}}
            <div class="bubble">
                <h3 class="bubble-header">{{ localize "SFRPG.ItemSheet.StarshipSensor.Header" }}</h3>

                <div class="bubble-info">

                    {{!-- Scan Modifier --}}
                    <div class="form-group" data-tippy-content="<b>{{ localize "SFRPG.ItemSheet.StarshipSensor.Modifier" }}</b><br/>{{ localize "SFRPG.ItemSheet.StarshipSensor.ModifierTooltip" }}">
                        <label>{{ localize "SFRPG.ItemSheet.StarshipSensor.Modifier" }}</label>
                        <div class="form-fields">
                            <input type="text" name="system.modifier" value="{{itemData.modifier}}" data-dtype="Number" placeholder="0" />
                        </div>
                    </div>

                    {{!-- Range --}}
                    <div class="form-group" data-tippy-content="<b>{{ localize "SFRPG.ItemSheet.StarshipSensor.Range" }}</b><br/>{{ localize "SFRPG.ItemSheet.StarshipSensor.RangeTooltip" }}">
                        <label>{{ localize "SFRPG.ItemSheet.StarshipSensor.Range" }}</label>
                        <select name="system.range">
                            {{#select itemData.range}}
                            {{#each config.starshipWeaponRanges as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>

                </div>
            </div>
            
            {{!-- Special Materials Template --}}
            {{> "systems/sfrpg/templates/items/parts/item-special-materials.hbs"}}

        </div>

    </section>
</form>