<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    {{> "systems/sfrpg/templates/items/parts/item-header.hbs"}}

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SFRPG.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SFRPG.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/sfrpg/templates/items/parts/item-description.hbs"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">

            {{!-- Common component data --}}
            {{> "systems/sfrpg/templates/items/parts/starship-component.hbs" this}}

            <h4 class="section-header first">{{ localize "SFRPG.ItemSheet.StarshipShield.Header" }}</h4>

            <div class="form-group" data-tippy-content="<b>{{ localize "SFRPG.ItemSheet.StarshipShield.ShieldType" }}</b><br/>{{ localize "SFRPG.ItemSheet.StarshipShield.ShieldTypeTooltip" }}">
                <label>{{ localize "SFRPG.ItemSheet.StarshipShield.ShieldType" }}</label>
                <div class="form-fields">
                    <label class="checkbox">
                        <input type="checkbox" name="system.isDeflector" {{checked itemData.isDeflector}}/> {{ localize "SFRPG.ItemSheet.StarshipShield.IsDeflector" }}
                    </label>
                </div>
            </div>

            {{#if itemData.isDeflector}}
            <div class="form-group" data-tippy-content="<b>{{ localize "SFRPG.ItemSheet.StarshipShield.DefenseValue" }}</b><br/>{{ localize "SFRPG.ItemSheet.StarshipShield.DefenseValueTooltip" }}">
                <label>{{ localize "SFRPG.ItemSheet.StarshipShield.DefenseValue" }}</label>
                <div class="form-fields">
                    <input type="text" name="system.defenseValue" value="{{itemData.defenseValue}}" data-dtype="Number" placeholder="0" />
                </div>
            </div>

            <div class="form-group" data-tippy-content="<b>{{ localize "SFRPG.ItemSheet.StarshipShield.ArmorBonus" }}</b><br/>{{ localize "SFRPG.ItemSheet.StarshipShield.ArmorBonusTooltip" }}">
                <label>{{ localize "SFRPG.ItemSheet.StarshipShield.ArmorBonus" }}</label>
                <div class="form-fields">
                    <input type="text" name="system.armorBonus" value="{{itemData.armorBonus}}" data-dtype="Number" placeholder="0" />
                </div>
            </div>

            <div class="form-group" data-tippy-content="<b>{{ localize "SFRPG.ItemSheet.StarshipShield.TargetLockBonus" }}</b><br/>{{ localize "SFRPG.ItemSheet.StarshipShield.TargetLockBonusTooltip" }}">
                <label>{{ localize "SFRPG.ItemSheet.StarshipShield.TargetLockBonus" }}</label>
                <div class="form-fields">
                    <input type="text" name="system.targetLockBonus" value="{{itemData.targetLockBonus}}" data-dtype="Number" placeholder="0" />
                </div>
            </div>
            {{else}}
            <div class="form-group" data-tippy-content="<b>{{ localize "SFRPG.ItemSheet.StarshipShield.ShieldPoints" }}</b><br/>{{ localize "SFRPG.ItemSheet.StarshipShield.ShieldPointsTooltip" }}">
                <label>{{ localize "SFRPG.ItemSheet.StarshipShield.ShieldPoints" }}</label>
                <div class="form-fields">
                    <input type="text" name="system.shieldPoints" value="{{itemData.shieldPoints}}" data-dtype="Number" placeholder="0" />
                </div>
            </div>

            <div class="form-group" data-tippy-content="<b>{{ localize "SFRPG.ItemSheet.StarshipShield.Regeneration" }}</b><br/>{{ localize "SFRPG.ItemSheet.StarshipShield.RegenerationTooltip" }}">
                <label>{{ localize "SFRPG.ItemSheet.StarshipShield.Regeneration" }}</label>
                <div class="form-fields">
                    <input type="text" name="system.regeneration" value="{{itemData.regeneration}}" data-dtype="Number" placeholder="0" />
                </div>
            </div>
            {{/if}}

        </div>

    </section>
</form>