<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    {{> "systems/sfrpg/templates/items/parts/item-header.hbs"}}

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SFRPG.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SFRPG.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    {{console this}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/sfrpg/templates/items/parts/item-description.hbs"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            
            <div class="bubble">
                <h3 class="bubble-header">{{ localize "SFRPG.Items.Action.Details" }}</h3>

                <div class="bubble-info">
                    
                    {{!-- Role --}}
                    <div class="form-group">
                        <label>{{ localize "SFRPG.ItemSheet.StarshipAction.CrewRole" }}</label>
                        <select name="system.role">
                            {{#select itemData.role}}
                                {{#each config.starshipRoleNames as |name id|}}
                                    <option value="{{id}}">{{localize name}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>

                    {{#each itemData.formula as |formula id|}}
                    {{!-- Action Skill --}}
                    <div class="form-group">
                        <label>{{ localize "SFRPG.ItemSheet.StarshipAction.SkillUsed" }}</label>
                        <div class="form-fields">
                            <select name="system.formula.{{id}}.name">
                                {{#select formula.name}}
                                    {{#each ../config.skills as |name id|}}
                                        <option value="{{id}}">{{name}}</option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>

                    {{!-- Skill Check Formula --}}
                    <div class="form-group">
                        <label>{{ localize "SFRPG.ItemSheet.StarshipAction.CheckFormula" }}</label>
                        <div class="form-fields">
                            {{!-- This was stored in an array but it will get changed to an object on edit. This is fine --}}
                            <input type="text" name="system.formula.{{id}}.formula" value="{{lookup this "formula"}}" data-dtype="String"/>
                        </div>
                    </div>
                    {{/each}}

                    {{!-- Phase Information --}}
                    <div class="form-group">
                        <label>{{ localize "SFRPG.ItemSheet.StarshipAction.Phase" }}</label>
                        <div class="form-fields">
                            <input type="text" name="system.phase.name" value="{{itemData.phase.name}}" data-dtype="String"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{ localize "SFRPG.ItemSheet.StarshipAction.PhaseTooltip" }}</label>
                        <div class="form-fields">
                            <input type="text" name="system.phase.tooltip" value="{{itemData.phase.tooltip}}" data-dtype="String"/>
                        </div>
                    </div>

                    {{!-- Action DC --}}
                    <div class="form-group">
                        <label>{{ localize "SFRPG.ItemSheet.StarshipAction.ActionDC" }}</label>
                        <div class="form-fields">
                            <input type="text" name="system.dc.value" value="{{itemData.dc.value}}" data-dtype="String" placeholder="{{localize "SFRPG.ItemSheet.StarshipAction.DCPlaceholder"}}"/>
                        </div>
                    </div>

                    {{console this}}
                    {{!-- Push and Resolve Information --}}
                    <div class="form-group">
                        <label>{{localize "SFRPG.ItemSheet.StarshipAction.PushResolve"}}</label>
                        <div class="form-fields">
                            <label class="checkbox">
                                <input type="checkbox" name="system.isPush" {{checked itemData.isPush}}/> {{ localize "SFRPG.ItemSheet.StarshipAction.IsPushAction" }}
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="system.dc.resolve" {{checked itemData.dc.resolve}}/> {{ localize "SFRPG.ItemSheet.StarshipAction.UsesResolve" }}
                            </label>
                            <input type="text" name="system.resolvePointCost" value="{{itemData.resolvePointCost}}" data-dtype="Number"/>
                        </div>
                    </div>

                </div>
            </div>

            <div class="bubble">
                <h3 class="bubble-header">{{ localize "SFRPG.ItemSheet.StarshipAction.NormalEffect" }}</h3>

                {{!-- This is closer but still bad and not working --}}
                <div class="bubble-info flexcol" style="height:100%;">
                    <div class="flexrow">
                        {{editor
                            enrichedEffectNormal
                            target="system.effectNormal"
                            button=true
                            editable=editable
                            engine="prosemirror"
                            collaborate="true"
                        }}
                    </div>
                </div>
            </div>

            <div class="bubble">
                <h3 class="bubble-header">{{ localize "SFRPG.ItemSheet.StarshipAction.CriticalEffect" }}</h3>

                <div class="bubble-info shipEffect">
                    {{editor
                        enrichedEffectCritical
                        target="system.effectCritical"
                        button=true
                        editable=editable
                        engine="prosemirror"
                        collaborate="true"
                    }}
                </div>
            </div>

        </div>

    </section>
</form>