<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    {{> "systems/sfrpg/templates/items/parts/item-header.hbs"}}

     {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SFRPG.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SFRPG.Details" }}</a>
        <a class="item" data-tab="modifiers">{{ localize "SFRPG.Modifiers" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">
        {{> "systems/sfrpg/templates/items/parts/item-description.hbs"}}

        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header noborder">{{ localize "SFRPG.Items.Upgrade.ArmorUpgradeDetails" }}</h3>
            <div class="form-group">
                <label>{{ localize "SFRPG.Items.Upgrade.Slots" }}</label>
                <input type="text" name="system.slots" value="{{itemData.slots}}" data-dtype="Number" />
            </div>
            <div class="form-group">
                <label>{{ localize "SFRPG.Items.Upgrade.AllowedArmorType" }}</label>
                <select name="system.allowedArmorType">
                    {{#select itemData.allowedArmorType}}
                    <option value="any">{{ localize "SFRPG.Items.Upgrade.Any" }}</option>
                    {{#each config.allowedArmorTypes as |allowedArmorType k|}}
                    <option value="{{k}}">{{allowedArmorType}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            <br />

            {{> "systems/sfrpg/templates/items/parts/item-capacity.hbs"}}

            <br />

            {{> "systems/sfrpg/templates/items/parts/physical-item-details.hbs"}}
            
            <br />

            {{!-- Container Template --}}
            {{> "systems/sfrpg/templates/items/parts/container-details.hbs" message="SFRPG.Items.Equipment.ContainerTooltip"}}
            
        </div>

        {{!-- Modifiers Tab --}}
        {{> "systems/sfrpg/templates/items/parts/item-modifiers.hbs"}}

    </section>
</form>
